body {
    margin-bottom: 20px;
}

h2.subtitle .summary {
    font-weight: normal;
    font-size: medium;
}

h1.title {
    font-size: larger;
}

blockquote {
    font-style: italic;
}

.subsection {
    font-size: x-large;
}

table {
    width: 100%;
}

table.curvetable {
    border-width: 1px;
    border-style: solid;
    border-color: lightGray;
}

.curve {
    font-size: large;
    font-weight: 600;
}

.formula {
    font-size: x-large;
    font-family: Georgia;
    margin-left: 20px;
}

.subsection-italic {
    font-size: x-large;
    font-style: italic;
}

.section H1 {
    width: 100%;
    font-size: large;
    background: orange;
}

.red {
    color: red;
}

.toc li {
    line-height: 16px;
}
.toc a {
    background-color: #f2eadd;
}
